<div class="form-outter">

  <h1>Properties Index</h1>

  <div class="index-container">

    <% @realestates.each do |realestate| %>
      <%= link_to edit_realestate_path(realestate), :action => 'go' do %>
        <%= indexItem(realestate) %>
      <% end %>
    <% end %>
  </div>

</div>
